# Core
numpy
pandas
opencv-python
Pillow

# Deep Learning & Vision
torch
torchvision
torchaudio
transformers
albumentations
faiss-cpu
ultralytics
scikit-learn

# MLOps & API
fastapi
uvicorn
python-multipart
mlflow
